@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);

* {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

html {
    background-color: #5ebbae;
}

body {
    min-width: 1000px;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 990px;
    margin: 0 auto;
}

.right {
    margin-left: 550px;
}

.brand {
    background-color: #404041;
    color: white;
    min-height: 560px;
    padding-top: 100px;
}

.brand h1 {
    margin-top: 0;
    /*margin-left: 500px;*/
    font-weight: 300;
    font-size: 60px;
    padding-top: 50px;
    margin-bottom: 0;
}

.brand h1 .logo {
    width: 53px;
}

.brand h2 {
    color: #bbbdc0;
    /*margin-left: 500px;*/
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

.brand .coming-soon {
    margin-top: 260px;
}

.brand .store {
    display: none;
    width: 180px;
    margin-top: 260px;
}

.screenshot {
    width: 500px;
    position: absolute;
    top: 150px;
}

.footer {
    background-color: #5ebbae;
    min-height: 200px;
    /*color: white;*/
}

.footer .gutter {
    color: #666;
    margin: 0 5px;
}

.footer a,
.footer a:visited,
.footer a:active,
.footer a:hover {
    color: #000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* 500px layout */
@media (max-width: 780px){
    body {
        min-width: 0;
        width: 100%;
        margin: 0 auto;
    }

    .wrapper {
        width: 500px;
        margin: 0 auto;
    }

    .right {
        margin-left: 0;
    }

    .brand {
        padding-top: 0;
        min-height: 770px;
    }

    .brand .coming-soon {
       margin-top: 30px;
    }

    .screenshot {
        width: 500px;
        top: 250px;
    }

    .footer {
        padding-top: 100px;
    }
}

/* 300px layout */
@media (max-width: 530px){
    body{
        min-width: 0;
        width: 100%;
        margin: 0 auto;
    }

    .wrapper {
        width: 300px;
        margin: 0 auto;
    }

    .right{
        margin-left: 0;
    }

    .brand {
        padding-top: 0;
        min-height: 550px;
    }

    .brand .coming-soon {
       margin-top: 30px;
    }

    .screenshot {
        /*position: relative;*/
        width: 300px;
        top: 250px;
    }

    .footer {
        /*margin-top: 350px;*/
        font-size: 14px;
        padding-top: 80px;
    }

    .footer .gutter {
        margin: 0;
    }
}
